.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height: 100vh;
}
.title{
    font-size:3rem;
}
.description{
    color: #6D6D6D;
    text-align:center;
    margin: 10px 0;
    padding: 0 30px;
    font-size: 1.5rem;
}
.flyer{
    width: 100%;
    border-radius:15px;
}
.btn-primary{
    color:white;
    background: #059CDD;
    padding:5px 30px;
    border-radius:10px;
    margin:10px 0;
    font-size:2rem;
  }
.result-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.result-content{
    display: flex;
    margin: 25px 0;;
}
.result-image{
    max-width: 600px;
    margin: 0 auto;
    margin-right:30px;
}
.result-counters{
    display: flex;
    flex-direction: column;
}
.counter{
    color: #ffffff;
    width: 350px;
    border-radius: 15px;
    margin: 10px 0;
    font-size:2rem;
    padding:20px 10px;
}
.correct-counter{
    background: #72DA7D;
}
.wrong-counter{
    background: #DA7272;
}