.side-container{
    background:#97ECAA;
    height:600px;
    width:300px;
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;

}
.description{
    font-size:1.2rem;
    background: #2D9F69;
    padding:10px;
    margin: 0 10px;
    border-radius:15px;
    color:#fff
}
.random-image{
    width: 80%;
    height: auto;
    padding:5px;
    border-radius: 15px;
    margin:0 auto;
}
.timer-countdown{
    color: #333;
    font-size:1.5rem;
}
.score{
    background:#01057A;
    color:#fff;
    padding:20px 30px;
    border-radius: 15px;
    width:80%;
    text-align:center
}
.btn{
    font-size:1.2rem;
    border:none
}